* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  color: #fff;
  overflow: hidden; }

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto; }

.homeSection {
  background: url(../img/intro-1.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 100; }

.logo {
  cursor: pointer;
  margin: 40px 60px 0 40px; }
  .logo img {
    width: 220px;
    opacity: .8; }

.logoNav {
  display: none; }

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 40px; }
  .navLinks li {
    display: inline-block;
    list-style: none;
    margin-left: 30px; }
  .navLinks a:hover {
    opacity: 1; }
  .navLinks a {
    text-decoration: none;
    font-size: 28px;
    opacity: .8;
    font-family: "Bebas Neue", cursive;
    cursor: pointer;
    color: #fff; }

.burger {
  display: none;
  cursor: pointer; }
  .burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease; }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px); }

.h1Class {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%); }
  .h1Class span {
    font-family: "Bebas Neue", cursive;
    opacity: .8; }

.headingOne {
  font-size: 130px;
  line-height: 2.5rem; }

.headingTwo {
  font-size: 150px; }

.headingThree {
  font-size: 95px;
  line-height: .5rem; }

.scroll {
  position: relative; }

.scrollImg {
  position: absolute;
  left: 50%;
  top: 15rem;
  transform: translate(-50%); }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

.projectsSection {
  background: url(../img/project-stock-markets-app.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.headingClassProject {
  display: flex;
  justify-content: flex-start;
  align-self: center; }
  .headingClassProject h2 {
    font-size: 95px;
    color: #252620;
    line-height: .9;
    font-family: "Bebas Neue", cursive;
    margin-top: 3rem; }
    .headingClassProject h2 span {
      font-size: 130px; }

.textProject {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin: 1rem 15rem 0 0; }
  .textProject h5 {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #252620;
    margin: 0 20rem 0 0; }

.webStation {
  background: url(../img/project-webstation.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.headingClassWeb {
  display: flex;
  justify-content: flex-end;
  align-self: center; }
  .headingClassWeb h2 {
    position: absolute;
    font-size: 90px;
    color: #252620;
    line-height: .9;
    font-family: "Bebas Neue", cursive;
    text-align: right;
    margin: 5rem 0 0 0; }
    .headingClassWeb h2 span {
      font-size: 120px; }

.textWeb {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin: 19rem 0 0 30rem; }
  .textWeb h5 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #252620;
    text-align: right; }

.workStation {
  background: url(../img/project-workstation.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.headingClassWork {
  display: flex;
  justify-content: flex-start;
  align-self: center; }
  .headingClassWork h2 {
    font-size: 95px;
    color: #fff;
    line-height: .9;
    font-family: "Bebas Neue", cursive;
    margin-top: 4rem; }
    .headingClassWork h2 span {
      font-size: 130px; }

.textWork {
  float: left;
  margin: 1rem 20rem 0 0; }
  .textWork h5 {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #fff;
    margin-right: 10rem; }

.marketData {
  background: url(../img/project-market-data.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.headingClassMarket {
  display: flex;
  justify-content: flex-start;
  align-self: center; }
  .headingClassMarket h2 {
    font-size: 95px;
    color: #fff;
    line-height: .9;
    font-family: "Bebas Neue", cursive;
    margin-top: 5rem; }
    .headingClassMarket h2 span {
      font-size: 130px; }

.textMarket {
  float: left;
  margin: 1rem 15rem 0 0; }
  .textMarket h5 {
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #fff; }

.team {
  background: url(../img/team.png);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.positions {
  background: url(../img/bg-positions.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.practice {
  background: url(../img/bg-praksa.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.courses {
  background: url(../img/bg-kursevi.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.contact {
  background: url(../img/bg-contact.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

.location {
  background: url(../img/bg-lokacija.jpg);
  background-repeat: no-repeat;
  background-size: 110% 110%; }

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden; }
  .logoNav {
    cursor: pointer;
    margin: 30px 0 0 20px;
    display: block; }
    .logoNav img {
      width: 180px;
      opacity: .8; }
  .navLinks {
    position: absolute;
    left: 0px;
    top: 0;
    margin: 0;
    height: 100vh;
    background-color: #231f20;
    display: block;
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 2; }
    .navLinks ul {
      margin-top: 40px; }
    .navLinks li {
      opacity: 0;
      margin-top: 20px;
      display: block; }
  .burger {
    display: block; } }

.navActive {
  transform: translateX(0%); }
