$fontOne: 'Bebas Neue', cursive;

.homeSection {
    background: url(../img/intro-1.jpg);
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin: 40px 60px 0 40px;

    img {
        width: 220px;
        opacity: .8;
    }
}

.logoNav {
    display: none;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 40px;

    li {
        display: inline-block;
        list-style: none;
        margin-left: 30px;
    }

    a:hover {
        opacity: 1;
    }

    a {
        text-decoration: none;
        font-size: 28px;
        opacity: .8;
        font-family: $fontOne;
        cursor: pointer;
        color: #fff;
    }
}

.burger {
    display: none;
    cursor: pointer;

    div{
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-4px, 6px);
    }

    .line2 {
        opacity: 0;
    }

    .line3 {
        transform: rotate(45deg) translate(-4px, -6px);
    }
} 

.headingClass {
    display: flex;
    justify-content: center;
    align-self: center;
}

.h1Class {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;

    span {
        font-family: $fontOne;
        opacity: .8;
    }
}

.headingOne {
    font-size: 130px;
    line-height: 2.5rem;
}

.headingTwo {
    font-size: 150px;
}

.headingThree {
    font-size: 95px;
    line-height: .5rem;
}

.scroll {
    position: relative;
}

.scrollImg {
    position: absolute;
    left: 50%;
    top: 30rem;
}