.location {
    background: url(../img/bg-lokacija.jpg);
    background-repeat: no-repeat;
    background-size: 110% 110%;
}

.locationClass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locationHeading {
    h3 {
        font-size: 48px;
        font-family: $fontTwo;
        font-weight: 200;
        margin-bottom: 20px;
    }
}