$fontTwo: 'Raleway', sans-serif;

.projectsSection {
    background: url(../img/project-stock-markets-app.jpg);
    background-repeat: no-repeat;
    background-size: 110% 110%;
}

.headingClassProject {
    display: flex;
    justify-content: flex-start;
    align-self: center;

    h2 {
        font-size: 95px;
        color: #252620;
        line-height: .9;
        font-family: $fontOne;
        margin-top: 3rem;

        span {
            font-size: 130px;
        }
    }
}

.textProject {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 3rem 15rem 0 0;

    h5 {
        font-size: 32px;
        font-family: $fontTwo;
        font-weight: 200;
        color: #252620;
        margin: 0 20rem 0 0;
    }
}