$fontOne: 'Bebas Neue', cursive;
$fontTwo: 'Raleway', sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #fff;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 5rem;
}

@import 'home';
@import 'projects';
@import 'webStation';
@import 'workStation';
@import 'marketData';
@import 'team';
@import 'positions';
@import 'practice';
@import 'courses';
@import 'contact';
@import 'location';
@import 'queries';