@import 'home';
@import 'projects';

$fontOne: 'Bebas Neue', cursive;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #fff;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    
}